<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enviar Correo con contrato a Firmar</title>
  <style>
     body {
            background-image: url('publico/shutterstock_1774527986.jpg');
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            color: #ffffff;
        }
        form {
            width: 80%;
            max-width: 400px;
            padding: 20px;
            background-color: #00acd8;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(147, 98, 98, 0.1);
        }
    h1 {
      text-align: center;
    }
    label, input, textarea {
      display: block;
      margin-bottom: 10px;
    }
    input, textarea {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 4px;
      background-color: #ffffff;
      color: #00acd8;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
  <form action="/enviar_correoSA" method="POST">
    <div class="logo">
      <img src="/publico/sosya-blanco-200px.png" alt="Logo" width="80" height="30">
  </div>
    <h1>Enviar Correo </h1>
    <!-- <label for="correo">Correo</label>
    <ul>
        <% correos.forEach(Empleado => { %>
            <li><%= Empleado.Nombre %> <%= Empleado.Apellido %> - <%= Empleado.Correo_Personal %></li>
        <% }); %>
    </ul>
    !-->
    <button type="submit">Enviar Correo</button>
  </form>
</body>
</html>


